@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su cuenta, por favor @Html.ActionLink("presiona aqui para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
